@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
button,
select,
textarea,
input {
  font-family: 'Roboto';
  font-size: 16px;
  background-color: #FBFCF8;
}

body {
  margin: 0;
  padding: 0;
}

header {
  height: 68px;
  padding-top: 10px;
  background-color: #F3EAD3;
}

header nav {
  margin-bottom: 20px;
}

header nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
}

a,
a:visited {
  text-decoration: none;
  color: dodgerblue;
}

#nav-link {
  font-size: 18px;
}

button.button {
  background-color: dodgerblue;
  border: 2px solid transparent;
  border-radius: 4px;
  color: white;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

button.button:hover {
  background-color: white;
  border-color: dodgerblue;
  color: dodgerblue;
}

button.button:active {
  background-color: lightblue;
}

input,
textarea {
  border: 1px solid dodgerblue;
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 1em 1.5em;
}

table {
  margin: auto;
}

td,
th {
  padding: .25em .5em;
}

textarea {
  resize: none;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  padding: 2em;
}

.recipe-card {
  background-color: #F3EAD3;
  padding: 20px 20px 10px 20px;
  border-radius: 10px;
  max-width: 260px;
}

.recipe-card-title {
  margin-top: 5;
}

.recipe-description {
  max-height: 58px;
  overflow: hidden;
}

.recipe-card-date {
  color: darkgray;
}

.recipe-form {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
  color: #208ACC;
}

.recipe-form p {
  display: grid;
  grid-template-columns: 8em 1fr;
  column-gap: 20px;
}

.recipe-form label {
  text-align: right;
}

.recipe-detail {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.pull-right {
  float: right;
  margin: 1em;
  max-height: 350px;
  max-width: 300px;
  border-radius: 10px;
  border: 2px solid #E6E6E6;
}

.main-image {
  max-height: 380px;
  max-width: 250px;
  border-radius: 10px;
  border: 2px solid #E6E6E6;
}

.control {
  text-align: right;
}